body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.modal-content.shaker {
  animation-name: shake;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-iteration-count: 1s;
  animation-fill-mode: backwards;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* Customer slider ----------------------------- */
.customer-slider .owl-stage-outer {
  padding: 1rem 0;
}
.customer-slider .owl-nav button {
  position: absolute;
  bottom: 10%;
  background-color: transparent !important;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transition: 0.2s;
  display: block;
  opacity: 0.5;
  border: 1px solid #09a66d !important;
}
.customer-slider .owl-nav button span {
  display: none;
}
.customer-slider .owl-nav button:hover {
  background-color: #09a66c77 !important;
  border-color: #09a66c77 !important;
  opacity: 1;
}
.customer-slider .owl-nav button.owl-prev {
  right: 37%;
  background-image: url("./images/arrow-left.svg") !important;
  background-size: 25% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.customer-slider .owl-nav button.owl-next {
  right: 25%;
  background-image: url("./images/arrow-right.svg") !important;
  background-size: 25% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.special {
  background-image: url("./images/fresh-melientha.png");
  background-repeat: no-repeat;
  background-position: right 0% bottom 5%;
  background-size: 35%;
}

@media screen and (max-width: 1536px) {
  .customer-slider .owl-nav button.owl-prev {
    right: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .customer-slider .owl-nav button {
    bottom: 5%;
    width: 48px;
    height: 48px;
  }
  .customer-slider .owl-nav button.owl-next {
    right: 15%;
  }
  .customer-slider .owl-nav button.owl-prev {
    right: 25%;
  }
}

@media screen and (max-width: 640px) {
  .customer-slider .owl-nav button {
    bottom: 5%;
    width: 40px;
    height: 40px;
  }
  .customer-slider .owl-nav button.owl-next {
    right: 10%;
  }
  .customer-slider .owl-nav button.owl-prev {
    right: 25%;
  }
}
