body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.modal-content.shaker {
  animation-name: shake;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-iteration-count: 1s;
  animation-fill-mode: backwards;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}
